.firstcnt
{
    
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("A+ Gallery_306_1.jpg") ;height: 750px; width 100px;background-position: center; background-repeat: no-repeat;background-size: cover;
    background-attachment:fixed;
}

.image1
{
    border-radius: 500px;
    margin-left: 430px;
    margin-top: 260px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border: 3px inset orange;
    opacity: 1;
}
.image1:hover
{
    margin-left: 430px;
    margin-top: 260px;
    border: 3px double orange;
    opacity: 1;
    height: 350px;
    width:350px;
}
 .firstcnt p
{
    color:lightseagreen;
    font-size:70px;
    
    margin-left: 10px;
    margin-top: -165px;
   font-weight: bolder;
    text-shadow: 1px 1px  orange;
}
 .firstcnt nav
{
    
    color:white;
}
.secondcnt
{
  
    
    height:128vh;
    margin-top: -5px;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
#cnt1
{
    color:white;
    text-align: center;
    font-size:80px;
    
        text-shadow: 3px 3px  grey;
    font-weight: bolder;
}
 .thirdcnt
{
    background:grey;
    height:34vh;
    width:500px;
    box-shadow: 10px 10px white;
   margin-bottom: 30px;
      margin-left: 230px;
    margin-right: 30px;
    float:left;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;
    margin-top: 40px;
}
.forthcnt
{
    background: white;
    height:34vh;
    width:500px;
    box-shadow: 10px 10px white;
    float:right;
    background: grey;
    margin-right: 230px;
    margin-bottom: 30px;
     padding-left: 5px;
    padding-right: 5px;
    margin-top: 40px;
      border-radius: 50px;
}
 #wer
{
    
    color:black;
    font-size: 20px;
}
 .thirdcnt img
{
   margin-top: 10px;
    border-radius: 10px;
    box-shadow:4px 4px white;
}
.forthcnt img
{
   margin-top: 10px;
    border-radius: 10px;
    box-shadow:4px 4px white;
}
#qaz
{
    font-size: 22px;
    font-family: sans-serif;
    margin-top: 10px;
}
.education
{
    
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://assets-a1.kompasiana.com/items/album/2016/04/15/graduates-571056ffd9937368048b4574.jpg") ;height: 750px; width 100px;background-position: center; background-repeat: no-repeat;background-size: cover;
    
    height: 127vh;
}
#edc
{
     color:white;
    text-align: center;
    font-size:80px;
    
        text-shadow: 3px 3px  black;
    font-weight: bolder;
    
}
.education p img
{
    border:7px solid white;
}
.card
{
    box-shadow: 13px 13px black;
    margin-left: 30px;
    margin-top: 20px;
}

.qsc
{
    height:565px;
    width:430px;
    background:white;
    border-radius: 10px;
   border:0.1px solid black;
    box-shadow: 15px 15px grey;
}
.qsc p
{
    color:#2E1F1B;
    padding-top: 5px;
    padding-bottom:5px; 
   
}
.qsc a
{
    color:#2E1F1B;
    padding-top: 5px;
    padding-bottom:5px; 
    background: aliceblue;
}
hr
{
    width:25%;
    background: white;
    
   
}
.achivent
{
    height:90vh;
    background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
.achivent h1
{
    text-align:center;
    color:white;
    font-size:80px;
    font-weight: bolder;
    text-shadow: 5px 5px grey;
    font-family: monospace;
    
}
.achivent ul
{
    text-align: center;
    font-weight: 600;
    color:white;
    font-size:40px;
    margin-top:10px;
    font-family: serif;
}
.project
{
  height:130vh;
  background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.project h1
{
    text-align: center;
   
    font-weight:bolder;
    font-size:90px;
    text-shadow:  4px 4px grey;
}
.project img
{
    margin-top:-20px;
    margin-left: 10px;
    padding-top: 20px;
}
.project p
{
    
   color:black;
    font-weight: 200;
    font-size: 30px;
}
.card-text
{
    font-size:15px;
    color:blanchedalmond;
}
.car
{
    font-size:2px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.foot
{
    height:20vh;
   

}
.foot img
{
   padding-left:3px;
    padding-right: 3px;
}
.foot img:hover
{
   height: 80px;
    width: 80px;
}
#ertw
{
    background: black;
   
}
footer
{
    background: #3b7687;
    color:#f4f4f4;
    margin:0,auto;
    text-align: center;
    margin-top: -60px;
 
}
footer a
{
    color:snow;
}
#nsd
{
    position:sticky;
    top:0px;
}
@media(max-width: 667px)
{
    .firstcnt
{
      background-color: aqua;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("A+ Gallery_306_1.jpg") ;height: 750px; background-position: center; background-repeat: no-repeat;background-size: cover;
    background-attachment:fixed;
    width:550px;
}
#cnt1 img
{
    border:1px solid black;
}
.image1
{
    border-radius: 500px;
    margin-left: 430px;
    margin-top: 260px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px inset orange;
    opacity: 1;
    position: unset;
}
.firstcnt p
{
    font-size:35px;
}
.secondcnt
{
    height:235vh;
    margin-top: -5px;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    width:710px;
}
.thirdcnt
{
    background:grey;
    height:36vh;
    width:500px;
    box-shadow: 10px 10px white;
   margin-bottom: 30px;
      margin-left: 95px;
    margin-right: 30px;
  
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;
    margin-top: 40px;
}
.forthcnt
{
    background: white;
    height:36vh;
    width:500px;
    box-shadow: 10px 10px white;

    background: grey;
    margin-bottom: 30px;
    margin-left: 89px;
    margin-right: 100px;
     padding-left: 5px;
    padding-right: 5px;
    margin-top: 40px;
      border-radius: 50px;
}
.education
{
    
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://assets-a1.kompasiana.com/items/album/2016/04/15/graduates-571056ffd9937368048b4574.jpg") ;height: 750px; width 100px;background-position: center; background-repeat: no-repeat;background-size: cover;
    height: 180vh;
    width:710px;
}
#edc
{
     color:white;
    text-align: center;
    font-size:80px;
  
        text-shadow: 3px 3px  black;
    font-weight: bolder;
    
}
.achivent
{
    height:160vh;
    background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
width:710px;
}
.project
{
  height:320vh;
  background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width:700px;
}
#fgs
{
    text-decoration: underline;
}
.foot
{
    height:20vh;
    width:710px;
}
footer
{
    background: #3b7687;
    color:#f4f4f4;
    margin:0,auto;
    text-align: center;
    margin-top: 0px;
    width:710px;
}
#ertw
{
    background: black;
   width:25%;
   margin-left: 300px;
}
#cnt1
{
    color:white;
    text-align: center;
    font-size:80px;
   
        text-shadow: 5px 5px  grey;
    font-weight: bolder;
    margin-left: 40px;
}
ul
{
    padding-right: 25px;
}
#cnt1
{
    color:white;
    text-align: center;
    font-size:80px;
        text-shadow: 6px 6px  grey;
    font-weight: bolder;
    margin-left:100px;
}
nav
{
    width:710px;
}
.education
{
    
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://assets-a1.kompasiana.com/items/album/2016/04/15/graduates-571056ffd9937368048b4574.jpg") ;height: 750px; width 100px;background-position: center; background-repeat: no-repeat;background-size: cover;
    height: 180vh;
    width:710px;
    background-attachment: fixed;
}
.card img
{
    height:230px;
    width:400px;
    margin-left: 134px;
}
#cnt1 img
{
    margin-left: 10px;
}
hr
{
    width:25%;
    background: #000000;
}
}
